<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>
<main>
    <div class="welcome mt-1 mb-4">
        <p class="mySticky bg-gray text-dark user" th:text="|Welcome ${@loggedUser.getUsername().toUpperCase()}|"></p>
        <div class="row mt-1 mb-2">
            <div class="col-6 mt-1 mb-1">
                <div>
                    <div class="home-fields" style="height: 40vh; overflow: auto">
                        <h3 class="my-stamps">My Stamps</h3>
                        <table class="my-table table-striped table-dark" th:each="stamp: ${allStampsByUser}">
                            <tr  class="my-stamps">
                                <td>
                                    <img th:src="${stamp.imageUrl}"  th:alt="${stamp.name}" width="70px" height="70px">
                                </td>
                                <td style="text-align: start">Name: <span th:text="${stamp.name}"></span></td>
                                <td style="text-align: end; padding-right: 5px">Description: <span th:text="${stamp.description}"></span></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td style="text-align: start">Used paper: <span th:text="${stamp.paper}"></span></td>
                                <td style="text-align: end; padding-right: 5px">Price: <span th:text="${stamp.price}"></span> $</td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div>
                    <div class="home-fields" style="height: 39vh; overflow: auto">
                        <h3 class="my-stamps">My Purchases</h3>
                        <div class="bought">
                            <div th:each="purchase : ${boughtStampsByUser}">
                                <div class="stamp">
                                    <div class="item">
                                        <img th:src="${purchase.imageUrl}" alt="Purchased Stamp" width="100px" height="100px">
                                        <p th:text="${purchase.name}"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6 mt-1 mb-1">
                <div class="home-fields" style="height: 40vh; overflow: auto">
                    <h3 class="my-stamps">Offered Stamps</h3>
                    <ul class="list-group list-group-vertical text-dark">
                        <li th:each="stamp : ${allStamps}">
                            <div class="my-stamps-first-row">
                                <div class="img1">
                                    <img th:src="${stamp.imageUrl}" alt="Offered Stamp" width="85px" height="85"
                                         style="padding-top: 0.3em; padding-left: 0.3em; margin-top: 2.3em">
                                </div>
                                <div class="stamp-info">
                                    <p>Name: <span th:text="${stamp.name}"></span></p>
                                    <p>Description: <span th:text="${stamp.description}"></span></p>
                                </div>
                            </div>
                            <div class="buttons-info">
                                <div class="favorite">
                                    <p><a class="btn-outline-info btn" th:href="@{/wishlist/add/{id}(id=${stamp.id})}">To Wishlist</a></p>
                                </div>
                            </div>
                            <div class="second-info">
                                <p>Added by: <span th:text="${stamp.addedBy.username}"></span></p>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="home-fields" style="height: 39vh; overflow: auto">
                    <h3 class="my-stamps">My Wishlist</h3>
                    <div class="wish-list" th:each="wishlist : ${userWishedStamps}">
                        <table class="my-table">
                            <tr  class="my-stamps">
                                <td style="text-align: start; padding-left: 5px" th:text="|${wishlist.name} |"></td>
                                <!--                                <td>-->
                                <img th:src="${wishlist.imageUrl}" th:alt="${wishlist.name}" width="55px"
                                     height="55" style="padding-top: 0.3em; padding-left: 0.3em">
                                <!--                                </td>-->
                                <td style="text-align: end; padding-right: 5px" th:text="|Price: ${wishlist.price}|"></td>
                                <td style="width: 15%; padding-top: 8px; padding-right: 5px">
                                    <a class="btn-danger btn"
                                       th:href="@{/stamps/remove-from-wishlist/{id}(id = *{wishlist.id})}"
                                    >Remove</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="buttons-info">
                        <p style="margin-top: 10px"><a class="btn-info btn" th:href="@{/stamps/buy-stamps}">Buy all
                        </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>
